.offer {
  min-height: 643px;
  background-color: #f4f5f7;
  background-image: url("../images/mask-group.svg");
  background-repeat: no-repeat;
  background-size: 1041px;
  background-position: center bottom -380px;
}
