.grid::after {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
  pointer-events: none;

  --grid-margin: 24px;
  --grid-gutter: 8px;
  --grid-columns: 4;
  --grid-column-width: calc((100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns));
  --grid-color: rgb(255 0 0 / 0.1);

  border: solid transparent;
  border-width: 0 calc(var(--grid-margin) - var(--grid-gutter) / 2);

  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(var(--grid-gutter) / 2),
    var(--grid-color) calc(var(--grid-gutter) / 2),
    var(--grid-color) calc(var(--grid-column-width) + var(--grid-gutter) / 2),
    transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2),
    transparent calc(var(--grid-column-width) + var(--grid-gutter))
  );
}

@media (min-width: 1440px) {
  .grid::after {
    --grid-margin: 96px;
    --grid-gutter: 20px;
    --grid-columns: 12;
  }
}
